body {
  background-color: #fcf4d9;
  border: 3px solid brown;
  margin: 0;
  text-align: center;
}

/* .container {
  display: flex;
  justify-content: center;
} */

.my-colors {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}
.my-color {
  width: 10%;
  height: 10%;
  padding-top: 3em;
}
